.expense-bar {
  height: 20px;
  width: 90%;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
  top: 110px;
  left: 4%;
}

.filling {
  height: 16px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 60px;
}
